
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:after,
*before {
  box-sizing: inherit;
}

html {
  font-size:90%;
}

h1 {
    font-size: 2.5rem;
}

.wrapper {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('img/leaves.jpg');
  background-size: cover;
  background-position: center;
}

.top {
  color: #333;
  flex: 3 0 auto;
  width: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.clock {
    background-color: white;
    border-radius: 5px;
    opacity: .7;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s, color .4s, background-color .4s;
}

.clock:hover {
    color: white;
    background-color: #333;
    transform: scale(1.2);

}

/*BOTTOM ******************************$*/

.bottom {
  color: #eee;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(30,30,30, .4);
  text-align: center;
  transition: all .5s;
}

.input-time {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .6px;
}

.input-seconds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.input-minutes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.input-label {
    margin-right: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: #eee;
    border: none;
    transition: all .5s;
    background-image: linear-gradient(120deg, #4CAF50 0%, #4CAF50 50%, #ff3b2d 50%);
    background-size: 225%;
}

.btn:hover, .btn:active, .btn:focus {
    transform: translateY(-3px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    background-position: 100%;
}

.btn:active, .btn:focus {
    transform: translateY(.3px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}









